<h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Desktype</th>
      <th>Deskrate</th>
      <th>Wifi</th>
      <th>Wifilimit</th>
      <th>Printing</th>
      <th>Printingdesc</th>
      <th>Sendfax</th>
      <th>Receivefax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.supplier %></td>
        <td><%= service.desktype %></td>
        <td><%= service.deskrate %></td>
        <td><%= service.wifi %></td>
        <td><%= service.wifilimit %></td>
        <td><%= service.printing %></td>
        <td><%= service.printingdesc %></td>
        <td><%= service.sendfax %></td>
        <td><%= service.receivefax %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
