<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Enquiry received from a DayDesk user</h3>
    
    <table>
      <tr>
        <td>Name</td>
        <td><%= @enquiry.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @enquiry.email %></td>
      </tr>
      <tr>
        <td><strong>Supplier</strong></td>
        <td><%= @enquiry.service.supplier.name %></td>
      </tr>
      <tr>
        <td><strong>Service</strong></td>
        <td><%= @enquiry.service.desktype %></td>
      </tr>
      <tr>
        <td>Enquiry Message</td>
        <td><%= @enquiry.message %></td>
      </tr>
    </table>
  </body>
</html>