<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for your booking <%= @booking.name %></h3>
    <p>Your booking has been sent to [supplier name]</p>
    <p>Here is a copy of your booking:</p>
    <table>
      <tr>
        <td><strong>Name</strong></td>
        <td><%= @booking.name %></td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td><%= @booking.email %></td>
      </tr>
      <tr>
        <td><strong>Supplier</strong></td>
        <td><%= @booking.service.supplier.name %></td>
      </tr>
      <tr>
        <td><strong>Service</strong></td>
        <td><%= @booking.service.desktype %></td>
      </tr>
      <tr>
        <td><strong>From Date</strong></td>
        <td><%= @booking.fromdate %></td>
      </tr>
      <tr>
        <td><strong>To Date</strong></td>
        <td><%= @booking.todate %></td>
      </tr>
    </table>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>