

<div class="container">
<h3>Spaces</h3>  
    <% @suppliers.each do |supplier| %>
      <div class="row row-index">
        <div class="col-md-3">
        <strong><%= supplier.name %></strong><br>
          <%= supplier.address1 %><br>
          <% if supplier.address2? %>
          <%= supplier.address2 %><br>
          <% end %>
          <%= supplier.suburb %> <%= supplier.state %> <%= supplier.postcode %><br><br>  
        <%= image_tag supplier.pic1, :class => 'list-pic' %>  
        </div>
        <div class="col-md-3">
          <p><strong>Summary:</strong><br>
          <%= supplier.officetype %><br>
          Wifi: <% if supplier.wifi %>Yes<% else %>No<% end %><br>
          Wifi Limit: <%= supplier.wifilimit %><br>
          Printing: <% if supplier.printing %>Yes<% else %>No<% end %><br>
          Printing Limit: <%= supplier.wifilimit %><br>
          Send Faxes: <% if supplier.sendfax %>Yes<% else %>No<% end %><br>
          Receive Faxes: <% if supplier.receivefax %>Yes<% else %>No<% end %><br>
          Reception: <%= supplier.reception %>
        </p>
        </div>
        <div class="col-md-3">
          <%= simple_format h truncate(supplier.blurb, :length => 200) %> <%= link_to 'Details & Booking', supplier, :class => 'btn btn-xs btn-primary' %>
        </div>
        <div class="col-md-2"><%= link_to 'Edit', edit_supplier_path(supplier), :class => 'btn btn-warning btn-xs' %> <%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %></div>
       
        <div class="col-md-1"></div>
      </div>
    <% end %>
    <p>&nbsp;</p>
<%= link_to 'New Supplier', new_supplier_path, :class => 'btn btn-success btn-xs' %>    
</div>


