
<div class="container">
 <h3>Desk Profile: <%= @supplier.name %></h3> 
 <%= link_to 'Back to List', suppliers_path, class: 'btn btn-success btn-xs' %> 
 <%= link_to 'Edit Profile', edit_supplier_path(@supplier), class: 'btn btn-warning btn-xs' %> 
 <%= link_to 'Add a Desk Listing', new_supplier_service_path(@supplier), class: 'btn btn-warning btn-xs' %><br><br>
  <div class="row">
    <div class="col-md-3">
        <p>
          <strong>Location:</strong><br>
          <%= @supplier.address1 %><br>
          <% if @supplier.address2? %>
          <%= supplier.address2 %><br>
          <% end %>
          <%= @supplier.suburb %> <%= @supplier.state %> <%= @supplier.postcode %>
        </p>

        <p>
          <strong>Contact:</strong><br>
          <% if @supplier.contactname? %>
          <%= @supplier.contactname %><br>
          <% end %>
          <%= @supplier.contactphone %><br>
          <%= @supplier.contactemail %>
        </p>
    </div>
    <div class="col-md-3">
      <%= image_tag @supplier.pic1, class: 'show-pic' %>
    </div>
    <div class="col-md-3">
      <%= image_tag @supplier.pic2, class: 'show-pic' %>
    </div>
    <div class="col-md-3">
      <%= image_tag @supplier.pic3, class: 'show-pic' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <p><strong>Office description:</strong></p>
      <%= @supplier.officetype %><br><br>
      <%= simple_format h @supplier.blurb %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">  
      <p><strong>Desk Services</strong></p>
      <table class="table">
        <thead>
          <tr>
            <th>Desk Type</th>
            <th>Desk Rate</th>
            <th>Wifi?</th>
            <th>Printing?</th>
            <th>Send Fax?</th>
            <th>Receive Fax?</th>
          </tr>
        </thead>
        <tbody>
          <% @services.each do |service| %>
          <tr>
            <td><%= service.desktype %></td> 
            <td><%= service.deskrate %></td>
            <td><% if service.wifi %>Yes<% else %>No<% end %></td>
            <td><% if service.printing %>Yes<% else %>No<% end %></td>
            <td><% if service.sendfax %>Yes<% else %>No<% end %></td>
            <td><% if service.receivefax %>Yes<% else %>No<% end %></td>
          </tr>
          <% end %>
    </div>
  </div>
 

</div>







