
<div class="container">
  <p>&nbsp;</p>
 <%= link_to 'Back to List', suppliers_path, class: 'btn btn-success btn-xs' %> 
 <%= link_to 'Edit Profile', edit_supplier_path(@supplier), class: 'btn btn-warning btn-xs' %> 
 <%= link_to 'Add a Desk Listing', new_supplier_service_path(@supplier), class: 'btn btn-warning btn-xs' %>
 <h3><%= @supplier.name %></h3> 
 
  <div class="row">
    <div class="col-md-3">
        <p>
          <strong>Location:</strong><br>
          <%= @supplier.address1 %><br>
          <% if @supplier.address2? %>
          <%= supplier.address2 %><br>
          <% end %>
          <%= @supplier.suburb %> <%= @supplier.state %> <%= @supplier.postcode %>
        </p>

        <p>
          <strong>Contact:</strong><br>
          <% if @supplier.contactname? %>
          <%= @supplier.contactname %><br>
          <% end %>
          <%= @supplier.contactphone %><br>
          <%= @supplier.contactemail %>
        </p>

        <p>
          <strong>Service Summary:</strong><br>
          Wifi: <% if @supplier.wifi %>Yes<% else %>No<% end %><br>
          Wifi Limit: <%= @supplier.wifilimit %><br>
          Printing: <% if @supplier.printing %>Yes<% else %>No<% end %><br>
          Printing Limit: <%= @supplier.wifilimit %><br>
          Send Faxes: <% if @supplier.sendfax %>Yes<% else %>No<% end %><br>
          Receive Faxes: <% if @supplier.receivefax %>Yes<% else %>No<% end %><br>
          Reception: <%= @supplier.reception %>
        </p>
    </div>
    <div class="col-md-6">
      <%= image_tag @supplier.pic1, class: 'show-pic' %>
      <p>&nbsp;</p>
      <table class="table">
        <thead>
          <tr>
            <th>Desk Type</th>
            <th>Desk Rate</th>
            <th>Enquiry</th>
            <th>Reservation</th>
          </tr>
        </thead>
        <tbody>
          <% @services.each do |service| %>
          <tr>
            <td><%= service.desktype %></td> 
            <td><%= service.deskrate %></td>
            <td><%= link_to 'Enquire', @supplier, :class => 'btn btn-success btn-xs' %></td>
            <td><%= link_to 'Reserve a Desk', @supplier, :class => 'btn btn-success btn-xs' %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <p><strong>About the space</strong></p>
      <%= @supplier.officetype %><br><br>
      <%= simple_format h @supplier.blurb %>
    </div>
  </div>
  
 

</div>







