
<div class="container">
  <p>&nbsp;</p>
 <%= link_to 'Back to List', suppliers_path, class: 'btn btn-success btn-xs' %> 
 <%= link_to 'Edit Profile', edit_supplier_path(@supplier), class: 'btn btn-warning btn-xs' %> 
 <%= link_to 'Add a Desk Listing', new_supplier_service_path(@supplier), class: 'btn btn-warning btn-xs' %>
 <h3><%= @supplier.name %></h3> 
 
  <div class="row">
    <div class="col-md-3">
        <p>
          <strong>Location:</strong><br>
          <%= @supplier.address1 %><br>
          <% if @supplier.address2? %>
          <%= supplier.address2 %><br>
          <% end %>
          <%= @supplier.suburb %> <%= @supplier.state %> <%= @supplier.postcode %>
        </p>

        <p>
          <strong>Contact:</strong><br>
          <% if @supplier.contactname? %>
          <%= @supplier.contactname %><br>
          <% end %>
          <%= @supplier.contactphone %><br>
          <%= @supplier.contactemail %>
        </p>

        <p><strong>Summary:</strong><br>
          <%= @supplier.officetype %><br>
          <i class="fa fa-signal"></i> <% if @supplier.wifi %><%= @supplier.wifilimit %><% else %>No<% end %><br>
          <i class="fa fa-print"></i> <% if @supplier.printing %><%= @supplier.printingdesc %><% else %>No<% end %><br>
          <i class="fa fa-coffee"></i> <% if @supplier.coffee %><%= @supplier.coffeedesc %><% else %>No<% end %><br>
          <i class="fa fa-cutlery"></i> <% if @supplier.food %><%= @supplier.fooddesc %><% else %>No<% end %><br>
          <i class="fa fa-beer"></i> <% if @supplier.alcohol %><%= @supplier.alcoholdesc %><% else %>No<% end %><br>
          <i class="fa fa-user"></i> <%= @supplier.reception %><br><br>
          <td><%= link_to 'Enquire', new_enquiry_path(:supplier => @supplier.id), :class => 'btn btn-success btn-xs' %></td>
        </p>
    </div>
    <div class="col-md-6">
      <%= image_tag @supplier.pic1, class: 'show-pic' %>
      <p>&nbsp;</p>
      <table class="table">
        <thead>
          <tr>
            <th>Desk Type</th>
            <th>Desk Rate</th>
            <th>Reservation</th>
          </tr>
        </thead>
        <tbody>
          <% @services.each do |service| %>
          <tr>
            <td><%= service.desktype %></td> 
            <td><%= service.deskrate %></td>
            <td><%= link_to 'Reserve a Desk', new_booking_path(:service => service.id), :class => 'btn btn-success btn-xs' %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <p><strong>About the space</strong></p>
      <%= @supplier.officetype %><br><br>
      <%= simple_format h @supplier.blurb %>
    </div>
  </div>
  
 

</div>







